/* General Styles */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    background-color: var(--ash-color);
    font-family: var(--font-family);
}

.profile_container {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: fit-content;
    gap: 0.9375rem;
    padding: 1.875rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

/* Ensures form rows space out */
.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.row > div {
    flex: 1;
}

h2 {
    color: var(--secondary-color);
    font-size: 22px;
    text-align: center;
}

p {
    text-align: center;
}

/* Proper input styling */
label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid var(--ash-border-color);
    border-radius: 5px;
    box-sizing: border-box; 
}

textarea {
    height: 9.375rem;
}

/* Button styles */
.profile_button {
    width: 100%;
    background-color: var(--danger-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--darker-red-color);
}

#header, #footer{
    width: 100%;
}
#footer{
    margin-top: auto;
}
/* Categories */
#category-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust width */
    gap: 15px 40px; 
    align-items: center;
    max-width: 800px;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.category-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 16px;
    margin: var(--margin-large) 0;
}

.checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}


